


.cart {
	background: transparent;
	border: none;
	cursor: pointer;
	margin: 10px;
}

.selected-items {
	display: flex;
}

.all-items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 45px;
	margin: var(--spacing-large) auto;
}
.itemBox {
	flex-direction: column;
	justify-content: flex-end;
	padding: 25px 20px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
	button{
	background-color: orange;
	border: none;
	padding: 15px;
	border-radius: 50px;
	cursor: pointer;
	margin-top: 10px;
}
h3{
	font-size: 15px;
	background-color: rgb(18, 195, 18);
	padding: 5px;
	border-radius:10px;
	max-width: max-content;
	color: white;
	margin: 10px;
	
}
img{
	display: flex;
	margin: 0 auto;
}
}